parameters: 
    level: max
    paths:
        - src
        - tests
services:
	-
		class: WhatColorIs\APIClient\PHPStan\ConstantsExtension
		tags:
			- phpstan.constants.alwaysUsedClassConstantsExtension